<div class="row">
  <div class="col-xs 12">
    <!-- call function on form submit, use local ref #f to access js object of form -->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <!-- place ngModel on imput to inform angular that its a form control -->
          <input 
            type="text" 
            class="form-control" 
            id="name"
            name="name"
            ngModel
            required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <!-- pattern only allows input defined by regex -->
          <input 
            type="number" 
            class="form-control" 
            id="amount"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <!-- disable add button if form reference isnt valid  -->
          <!-- Change button text depending on whether editMode true or false -->
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button class="btn btn-warning" type="button" (click)="onClear()">Clear</button>
          <!-- only display delete button if editMode = true -->
          <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
        </div>
      </div>
    </form>
  </div>
</div>